.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.profile-link {
  outline: none;
}