@import "../../../styles/variables.scss";

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .main-section {
    gap: 0.5rem;
    height: 100%;

    flex-grow: 1;

    background-color: $background;
  }

  .form-section {
    flex-grow: 0.3;
    padding: 0 35px;

    img {
      margin-bottom: 30px;
      pointer-events: none;
      user-select: none;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 45px;
    }

    .btn-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 30px;

      .divider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 14px;
        color: $background;
        font-weight: 400;
        text-transform: uppercase;

        div {
          flex-grow: 1;
          height: 2px;
          background-color: $background;
        }
      }

      button {
        width: 100%;
        border-radius: 0.5rem;
        font-size: 1rem;
        background: transparent;
        font-weight: 500;
        padding: 12px 24px;
        cursor: pointer;

        &.login {
          background-color: $primary-color;
          color: #ffffff;
          // box-shadow: 0px 8px 12px rgba();
        }

        &.signup {
          border: 1px solid $primary-color;
          color: $primary-color;
        }

        &:disabled {
          opacity: 0.8;
        }
      }
    }
  }
}
