<main>
  <section class="form-section">
    <img src="/assets/images/logo.svg" alt="" />
    <h2>{{ login }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button class="login" (click)="submit()" [disabled]="disablePrimaryBtn">
        {{ primaryBtnText }}
      </button>
      <div class="divider">
        <div class=""></div>
        <span>OR</span>
        <div class=""></div>
      </div>
      <button class="signup" (click)="navigate()">
        {{ secondaryBtnText }}
      </button>
    </div>
  </section>
  <section class="main-section">
    <h1>You should move it!</h1>
    <img src="/assets/images/delivery.svg" alt="" />
  </section>
</main>
